@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Nunito:wght@300;500;600&display=swap');

:root{
    --lato : 'Lato', sans-serif;
    --nunito : 'Nunito', sans-serif;

    --orange : #E8630A;
    --kuning : #FCD900;
    --abu : #035397;
    --biru : #001E6C;
    --hitam : #000;
    --putih : #fff;
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--nunito);
    transition: 1s ease all;
}

body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
}

/*
 * Sidebar
 */

 #header{
  background-color: var(--biru);
 }

 #header span{
  color: var(--kuning);
 }
 
 li .btn-logout{
  background-color: var(--biru);
  color: var(--putih);
  width: fit-content;
  margin: 5px;
  font-size: 1em;
  border-radius: 5px;
  padding: 6px 10px;
  transition: 1s ease all;
  border: none;
}
 li .btn-logout:hover{
  background-color: var(--orange);
}

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  background-color: var(--abu);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */

}

.sidebar .nav-link {
  font-weight: 500;
  color: var(--putih);
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: var(--kuning);
}

.sidebar .nav-link.active {
  color: var(--kuning);
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.back{
  background-color: var(--biru);
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  color: var(--putih);
}

.back:hover{
  background-color: var(--orange);
  color: var(--putih);
}

.edit{
  background-color: var(--orange);
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  color: var(--putih);
  margin: 0 10px;
}

.edit:hover{
  background-color: var(--biru);
  color: var(--putih);
}

.hapus{
  background-color: red;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  color: var(--putih);
}

.hapus:hover{
  background-color: var(--biru);
  color: var(--putih);
}

.eye{
  background-color: var(--biru);
  padding: 2px 5px;
  border-radius: 5px;
  text-decoration: none;
  color: var(--putih);
}

.eye:hover{
  background-color: var(--orange);
  color: var(--putih);
}

.ubah{
  background-color: var(--orange);
  padding: 2px 5px;
  border-radius: 5px;
  text-decoration: none;
  color: var(--putih);
  margin: 0 5px;
}

.ubah:hover{
  background-color: var(--biru);
  color: var(--putih);
}

.delete{
  background-color: red;
  padding: 5px 5px;
  border-radius: 5px;
  text-decoration: none;
  color: var(--putih);
}

.delete:hover{
  background-color: var(--biru);
  color: var(--putih);
}

 .price .awal{
  background-color: var(--kuning);
  padding: 5px;
  border-radius: 5px;
  text-decoration: line-through;
  color: var(--putih);
  font-style: italic;
  width: fit-content;
}

 .price .akhir{
  background-color: var(--orange);
  padding: 5px;
  border-radius: 5px;
  color: var(--putih);
  width: fit-content;
 
}

.detailBranch .more:hover{
  background-color: var(--biru);
}


.detailBranch .part .card:hover img{
   transform: scale(1.1);
}


.detailBranch .card h5{
   font-size: 2em;
}

.detailBranch .card{
   position: relative;
   overflow: hidden;
}

.detailBranch .card p{
   font-size: 1.1em;
}

.detailBranch .card .map{
   font-size: 1.1em;
   background-color: var(--biru);
   color: var(--putih);
}

.detailBranch .card .map:hover{
   background-color: var(--orange);
}

.detailBranch a{
   text-decoration: none;
   color: var(--hitam);
}

.dashboard .card{
  background:linear-gradient(to right, var(--biru) , var(--abu));
  border-radius: 30px;
}

.dashboard a{
  text-decoration: none;
}

.dashboard i{
  background-color: var(--putih);
  border-radius: 50%;
  padding: 10px;
}
.dashboard p{
  color: var(--putih);
}

.dashboard span{
  font-size: 1.8em;
  font-weight: bold;
}